@import "tailwindcss";

:root {
  --background: #f0f4f8;
  --foreground: #2d3436;
  --snow: #f0f4f8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

canvas {
  touch-action: none;
}
